* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    height: 100vh;
    background-color: aqua;
}

.heading {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.scores {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scores h2 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.scores p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

button {
    width: 100px;
    padding: 15px;
    margin-left: 100px;
    border: none;
    background-color: cornflowerblue;
    color: cornsilk;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
    font-size: large;
}
button:focus {
    outline: none;
}

.match {
    position: relative;
    align-items: center;
    top: 20%;
}

.hands {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-hand {
    position: relative;
    left: 5%;
    transform: rotateY(180deg);
}

.computer-hand {
    position: relative;

}

.winner {
    position: absolute;
    bottom: 240px;
}
#my-winner {
    display: none;
}
#computer-winner {
    display: none;
}
#draw {
    display: none;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    right: 50px;
}


